<h3 class="headline">Normal</h3>

<div class="flex demo-container">
  <div class="demo-box">
    Short
  </div>
  <div class="demo-box">
    Medium length
  </div>
  <div class="demo-box">
    Large length Lorem ipsum dolor sit amet , consectetur adipisicing elit. Qui ad labore ipsam, aut rem quo repellat esse tempore id, quidem
  </div>
</div>

<h3 class="headline">Will not grow or shrink (flex-none)</h3>

<div class="flex demo-container">
  <div class="demo-box flex-none">
    Short
  </div>
  <div class="demo-box flex-none">
    Medium length
  </div>
  <div class="demo-box flex-none">
    Large length Lorem ipsum dolor sit amet , consectetur adipisicing elit. Qui ad labore ipsam, aut rem quo repellat esse tempore id, quidem
  </div>
</div>


<h3 class="headline">Will not grow but shrink if needed (flex-initial)</h3>

<div class="flex demo-container">
  <div class="demo-box flex-initial">
    Short
  </div>
  <div class="demo-box flex-initial">
    Medium length
  </div>
  <div class="demo-box flex-initial">
    Large length Lorem ipsum dolor sit amet , consectetur adipisicing elit. Qui ad labore ipsam, aut rem quo repellat esse tempore id, quidem
  </div>
</div>

<h3 class="headline">Will grow and shrink if needed taking into account its initial size (flex-auto)</h3>

<div class="flex demo-container">
  <div class="demo-box flex-auto">
    Short
  </div>
  <div class="demo-box flex-auto">
    Medium length
  </div>
  <div class="demo-box flex-auto">
    Large length Lorem ipsum dolor sit amet , consectetur adipisicing elit. Qui ad labore ipsam, aut rem quo repellat esse tempore id, quidem
  </div>
</div>


<h3 class="headline">Will grow and shrink if needed ignoring its initial size (flex-1)</h3>

<div class="flex demo-container">
  <div class="demo-box flex-1">
    Short
  </div>
  <div class="demo-box flex-1">
    Medium length
  </div>
  <div class="demo-box flex-1">
    Large length Lorem ipsum dolor sit amet , consectetur adipisicing elit. Qui ad labore ipsam, aut rem quo repellat esse tempore id, quidem
  </div>
</div>