<h3 class="headline">justify-start</h3>

<div class="flex justify-start demo-container">
  <div class="demo-box">
    1
  </div>
  <div class="demo-box">
    2
  </div>
  <div class="demo-box">
    3
  </div>
</div>

<h3 class="headline">justify-center</h3>

<div class="flex justify-center demo-container">
  <div class="demo-box">
    1
  </div>
  <div class="demo-box">
    2
  </div>
  <div class="demo-box">
    3
  </div>
</div>


<h3 class="headline">justify-end</h3>

<div class="flex justify-end demo-container">
  <div class="demo-box">
    1
  </div>
  <div class="demo-box">
    2
  </div>
  <div class="demo-box">
    3
  </div>
</div>

<h3 class="headline">justify-between</h3>

<div class="flex justify-between demo-container">
  <div class="demo-box">
    1
  </div>
  <div class="demo-box">
    2
  </div>
  <div class="demo-box">
    3
  </div>
</div>


<h3 class="headline">justify-around</h3>

<div class="flex justify-around demo-container">
  <div class="demo-box">
    1
  </div>
  <div class="demo-box">
    2
  </div>
  <div class="demo-box">
    3
  </div>
</div>

<h3 class="headline">justify-evenly</h3>

<div class="flex justify-evenly demo-container">
  <div class="demo-box">
    1
  </div>
  <div class="demo-box">
    2
  </div>
  <div class="demo-box">
    3
  </div>
</div>